html{
    scroll-behavior:smooth;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 8%;
    z-index:1000;
    box-shadow:0 4px 15px rgba(0,0,0,.15);
}

.logo{
    font-size:28px;
    font-weight:700;
    color:white;
    text-decoration:none;
}

.logo span{
    color:#3b82f6;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    transition:.3s;
    font-weight:500;
}

.nav-links a:hover{
    color:#3b82f6;
}

.resume-btn{
    display:flex;
    align-items:center;
    gap:10px;
    background:#2563eb;
    color:white;
    text-decoration:none;
    padding:12px 20px;
    border-radius:8px;
    transition:.3s;
    font-weight:600;
}

.resume-btn:hover{
    background:#1d4ed8;
}

.menu-icon{
    display:none;
    font-size:28px;
    cursor:pointer;
}

/* Mobile */

@media(max-width:900px){

.menu-icon{
    display:block;
}

.nav-links{
    position:absolute;
    top:75px;
    right:-100%;
    width:260px;
    background:#1e293b;
    flex-direction:column;
    padding:30px;
    transition:.4s;
    border-radius:10px;
}

.nav-links.active{
    right:20px;
}

.resume-btn{
    display:none;
}

}