.internship{
    padding:100px 8%;
    background:#ffffff;
}

.internship-card{
    max-width:1000px;
    margin:auto;
    display:flex;
    gap:30px;
    background:#f8fafc;
    padding:40px;
    border-radius:18px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
    transition:.3s;
}

.internship-card:hover{
    transform:translateY(-8px);
}

.internship-icon{
    width:80px;
    height:80px;
    background:#2563eb;
    color:white;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:32px;
    flex-shrink:0;
}

.internship-content h3{
    font-size:28px;
    color:#0f172a;
}

.internship-content h4{
    color:#2563eb;
    margin:10px 0 20px;
}

.duration,
.location{
    display:flex;
    align-items:center;
    gap:10px;
    color:#64748b;
    margin-bottom:12px;
}

.description{
    margin:25px 0;
    line-height:1.8;
    color:#475569;
}

.skills{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skills span{
    background:#dbeafe;
    color:#1d4ed8;
    padding:8px 18px;
    border-radius:25px;
    font-size:14px;
    font-weight:600;
}

@media(max-width:768px){

.internship-card{
    flex-direction:column;
    text-align:center;
}

.internship-icon{
    margin:auto;
}

.duration,
.location{
    justify-content:center;
}

.skills{
    justify-content:center;
}

}